[Desktop Entry]
Name=xfce4 Mouse Reverse Scroll
Type=Application
Exec=/media/LinuxData/todd/Documents/natural-scroll-dir.sh
Comment=xfce4 Mouse Reverse Scroll

